@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.shopping-card{
    width: 300px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 2px 5px 20px 5px lightgray;
    margin:auto;
    position: relative;
    margin-bottom: 10px;
}
.card-img img{
    width: 300px;
    height: 250px;
    border-radius: 10px;
}
.card-left{
    margin-left: 10px;
}
.half-width{
    width: 50%;
}
.gray{
    color: gray;
    font-size: 20px;
    font-size: 27px;
}
.red{
    color: red;
    font-size: 20px;
    font-size: 27px;
}
.aqua{
    color: aqua;
    font-size: 27px;
}
.fa-star{
    color: gray;
}
.card-left p{
    color: gray;
}
.card-right{
    position: absolute;
    top: 255px;
    right: -30px;
}
.card-right p{
    color: red;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    left: 55px;
    top: 1px;
}
.previous-amount{
    font-size: 10px;
    font-weight: bold;
    color: gray;
    position: relative;
    left: 80px;
    top: -25px;
}
.sizes{
    position: relative;
    left: 20px;
    top: -2px;
}
.sizes i{
    font-size: 27px;
}
.size1{
    color: gray;
    position: absolute;
    left: 8px;
}
.size2{
    color: gray;
    position: absolute;
    left: 37px;
}
.size3{
    color: gray;
    position: absolute;
    left: 72px;
}
.font{
    font-size: 18px;
}
.buy{
    color: purple;
    position: relative;
    left: 58px;
    top: -5px;
}
.discount{
    background-color: red;
    color: white;
    width: 50px;
    border-radius: 25px;
    position: absolute;
    top: 8px;
    left: 10px;
}
.heart-circle{
    background-color: white;
    width: 25px;
    border-radius: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.fa-heart{
    color: gray;
    position: relative;
    left: 4px;
    top: 2px;
}
.discount-area-left{
    box-shadow: 2px 5px 20px 5px lightgray;
    background-color: white;
    width: 200px;
    height: 65px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: auto;
    position: relative;
    left: -50px;
}
#dis-title{
    color: #b3b1b1;
    font-weight: bold;
    font-size: 11px;
    position: relative;
    left: 35px;
    top: 10px;
}
#dis-code{
    color: red;
    position: relative;
    left: 35px;
    top: -10px;
}
.discount-area-right{
    box-shadow: 2px 5px 20px 5px lightgray;
    background-color: purple;
    width: 100px;
    height: 65px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: auto;
    position: relative;
    left: 100px;
    top: -81px;
}
#Off{
    color: white;
    font-weight: bold;
    position: relative;
    left: 35px;
    top: 10px; 
}